body{
  background: rgb(63,94,251);
background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);

}

.soundbox{
  width:200px;
  height: 50px;
  background-color: lime;
}

.newBox{
  width:100px;
  height:100px;
  background-color: blue;
}
